@font-face {
	font-family: nanum_middle;
	src: url('../fonts/NanumSquare_acR.ttf')format('truetype');
}

@font-face {
	font-family: nanum_bold;
	src: url('../fonts/NanumSquare_acB.ttf')format('truetype');
}

@font-face {
	font-family: nanum_ebold;
	src: url('../fonts/NanumSquare_acEB.ttf')format('truetype');
}

@font-face {
	font-family: cafe_bold;
	src: url('../fonts/Cafe24Decobox.ttf')format('truetype');
}

body {
	font-family: nanum_middle;
	display:flex;
	flex-direction:column;
}

.sticky_nav header{
	font-family: cafe_bold;
	font-size: 3.8em; 
	color: #9933CC;
	padding-top:0.35em;
	padding-left:0.6em;
}

/* common */ 
ul { 
list-style: none; 
} 

/* nav */ 
nav {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	height: 55px; 
	margin-right: 1em;
} 

nav ul { 
	flex: 1; 
	display: flex; 
	justify-content: flex-end; 
	align-items: center; 
	margin: 0; 
} 

nav ul li { 
	padding: 0;
	margin: 0; 
	vertical-align: middle; 
	text-align: center; 
	float: left;
} 

nav ul li a { 
	font-family: nanum_bold;
	padding: 1em; 
	font-size: 0.9em; 
	display: flex; 
	align-items: flex-end; 
	color: #555f66;
	text-decoration: none;
}

nav ul li a:hover { 
	color: #a186bc;
}

.MVstyle{
    width: 95%;
    margin: 10px auto;
}

.MVstyle header {
	font-family: nanum_ebold;
	font-size: 1.5em; 
	color: #9933CC;
}

.box img {
	width:100%;
}
.first {
    float: left;
    width:17%;
    box-sizing: border-box;
	line-height:30%;
}

.first h4{
	margin-top:2em;
}

.second{
    float: left; 
    margin-left: 3.7%;
    width:17%;
    box-sizing: border-box;
	line-height:30%;
}

.second h4{
	margin-top:2em;
}

.third{
    float: right;
    width:17%;
    box-sizing: border-box;
	line-height:30%;
}

.third h4{
	margin-top:2em;
}

.Musicstyle{
    width: 96%;
    margin: 10px auto;
	flex-direction:column;
	float:left;
}

.Musicstyle header {
	font-family: nanum_ebold;
	font-size: 1.5em; 
	color: #9933CC;
}

.tableDiv {
	width:49%;
	float:left;
}

.musicTable {
	width:100%;
	text-align:center;
}

.musicTable td {
	padding-top:0.5em;
	padding-right:0.8em;
	vertical-align:middle;
	display: flex;
    align-items: center;
}

#musicImg {
	width:8%;
	float:left;
}

#musicNum {
	text-align:right;
	font-family:nanum_ebold;
	margin-right:20px;
	width:4%;
	float:left;
	font-size:1.2em;
}

#musicPlus {
	color:blue;
	text-align:center;
	font-family:nanum_ebold;
	width:5%;
	float:left;
	font-size:0.8em;
	margin-left:1%;
}

#musicMinus {
	color:red;
	text-align:center;
	font-family:nanum_ebold;
	width:5%;
	float:left;
	font-size:0.8em;
	margin-left:1%;
}

#musicName {
	text-align:left;
	font-family:nanum_bold;
	width:35%;
	vertical-align:center;
	float:left;
	font-size:1.2em;
}

#musicSinger {
	text-align:center;
	text-align:left;
	font-family:nanum_bold;
	color:#555f66;
	margin-left:2%;
	width:29%;
	float:left;
	font-size:0.9em;
}

.playBtn {
	text-align:center;
	width:4%;
	margin-left:1%;
	margin-right:2%;
	float:left;
}

.heartBtn {
	text-align:center;
	margin:0em;
	width:4%;
	margin-left:1%;
	float:left;
}


.modal {
	display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
	height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}
    
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */                          
	height: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

