@font-face {
	font-family: nanum_middle;
	src: url('../fonts/NanumSquare_acR.ttf')format('truetype');
}

@font-face {
	font-family: nanum_bold;
	src: url('../fonts/NanumSquare_acB.ttf')format('truetype');
}

@font-face {
	font-family: nanum_ebold;
	src: url('../fonts/NanumSquare_acEB.ttf')format('truetype');
}

body {
	font-family: nanum_middle;
	display:flex;
	flex-direction:column
}

/* common */ 
ul { 
list-style: none; 
} 

/* nav */ 
nav {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	height: 55px; 
	margin-right: 1em;
} 

nav ul { 
	flex: 1; 
	display: flex; 
	justify-content: flex-end; 
	align-items: center; 
	margin: 0; 
} 

nav ul li { 
	padding: 0;
	margin: 0; 
	vertical-align: middle; 
	text-align: center; 
	float: left;
} 

nav ul li a { 
	font-family: nanum_bold;
	padding: 1em; 
	font-size: 0.9em; 
	display: flex; 
	align-items: flex-end; 
	color: #555f66;
	text-decoration: none;
}

nav ul li a:hover { 
	color: #a186bc;
}

.MVstyle{
    width: 95%;
    margin: 10px auto;
}

.MVstyle header {
	font-family: nanum_ebold;
	font-size: 1.3em; 
	color: #9933CC;
}

.box {
	border-style:solid;
	border-color:black;
}

.first {
    border: 1px solid red;
    float: left;
    width:17%;
    box-sizing: border-box;
	line-height:30%;
}

.first h4{
	margin-top:2em;
}

.second{
    border: 1px solid green;
    float: left; 
    margin-left: 3.7%;
    width:17%;
    box-sizing: border-box;
	line-height:30%;
}

.second h4{
	margin-top:2em;
}

.third{
    border: 1px solid blue;
    float: right;
    width:17%;
    box-sizing: border-box;
	line-height:30%;
}

.third h4{
	margin-top:2em;
}

.Musicstyle{
    width: 95%;
    margin: 10px auto;
}

.Musicstyle header {
	font-family: nanum_ebold;
	font-size: 1.3em; 
	color: #9933CC;
}